{% extends "base.html" %}
{% block title %} HomePage {% end %}
{% block content %}
<div class="jumbotron">
	<h1>Welcome Here !</h1>
	<p class="lead">This is a isima check tool.</p>
	<a class="btn btn-large btn-success" href="/login">Sign in now</a>
</div>
<hr>
<div class="row-fluid marketing">
    <div class="span6">
        <h4>Teacher</h4>
        <p>
        Teacher can check student's absence in a session.
        </p>
        <h4>Student</h4>
        <p>
        Student can view his or her absences.
        </p>
    </div>

    <div class="span6">
        <h4>Faculty member</h4>
        <p>
        Faculty members can add justifying to student's absence.
        </p>
        <h4>Administrator</h4>
        <p>
        Administrator can view absences, check student'absences, create courses.
        </p>
    </div>
</div>
{% end %}
